.topicIdeasDetails__main {
  color: var(--light-color);
  top: 146px;
  right: 28px;
}

.topicIdeasDetails__title {
  display: none;
}

.topicIdeaDetails__comments {
  background-color: var(--medium-background);
  border-radius: 0 0 20px 20px;
  padding: 0.5rem 1rem;
  width: 100%;
}

.topicIdeaDetails__commentsList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topicIdeaDetails__underLine {
  margin: 5px auto;
  width: 80%;
  border-bottom: solid 1px var(--dark-background);
}

.topicIdeaDetails__create__comment {
  background-color: var(--golden-color);
  color: var(--dark-background);

  border-radius: 5px;
  margin: 15px;
  display: inline-block;
}

.add-button {
  border-radius: var(--radius);
  height: 25px;
  width: 150px;
  font-size: 13px;
  padding: 5px 10px;
  border: none;
  background-color: var(--golden-color);
  color: var(--dark-background);
  box-shadow: 0 4px 10px 0 rgba(255, 235, 167, 0.2);
}
