.topicIdeasDetails__main {
  color: var(--light-color);
  top: 146px;
  right: 28px;
}

.topicIdeasDetails__title {
  display: none;
}

.topicIdeaDetails__comments {
  background-color: var(--medium-background);
  border-radius: 0 0 20px 20px;
  padding: 0 1rem;
  width: 100%;
  transition: all 1000ms;
}

.topicIdeaDetails__commentsList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topicIdeaDetails__underLine {
  margin: 5px auto;
  width: 80%;
  border-bottom: solid 1px var(--dark-background);
}

.topicIdeaDetails__create__comment__upper {
  display: flex;
  justify-content: flex-end;
}

.topicIdeaDetails__create__comment {
  background-color: var(--golden-color);
  color: var(--dark-background);
  border-radius: 20px;
  margin: 15px;
  display: inline-block;
  text-align: center;
  max-width: 620px;
}

.topicIdeaDetails__create__comment:hover {
  background: none;
  color: var(--golden-color);
}

.add-button {
  border-radius: 20px;
  height: 20px;
  width: 130px;
  font-size: 13px;
  padding: 5px 10px;
  border: none;
  background-color: var(--golden-color);
  color: var(--dark-background);
  transition: all 200ms;
}

.add-button:hover {
  background: none;
  color: var(--golden-color);
  padding: 4px 9px;
  border: solid 1px var(--golden-color);
  transition: all 200ms;
}
