.topicIdeasDetails__main {
  color: var(--light-color);
}

.topicIdeasDetails__title {
  width: 100%;
  color: var(--golden-color);
  font-size: var(--textL);
  text-align: center;
}

.topicIdeaDetails__comments {
  background-color: var(--light-background);
  border-radius: var(--radius);
  min-height: 50px;
  margin: 0.5rem 1.5rem;
  padding: 0.5rem;
  border: 4px solid var(--light-background);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.topicIdeaDetails__commentsList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topicIdeaDetails__underLine {
  margin: 5px auto;
  width: 80%;
  border-bottom: solid 1px var(--dark-background);
}

.topicIdeaDetails__create__comment {
  background-color: var(--golden-color);
  color: var(--dark-background);
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 15px;
}
