.topicCreation_container {
  display: flex;
  flex-direction: column;
  margin: 0 50px 30px;
}

.topicCreation__iconPencil {
  position: absolute;
  top: 115px;
  left: 75px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color: var(--golden-color);
  transition: all 200ms linear;
  transform: rotate(-90deg);
}

.topicCreation__iconTimer {
  position: absolute;
  top: 180px;
  left: 75px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color: var(--golden-color);
  transition: all 200ms linear;
}

.topic__input {
  margin: 0.4rem;
  padding: 13px 20px;
  padding-left: 55px;
  height: 25px;
  width: 290px;
  font-weight: 500;
  border-radius: var(--radius);
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: var(--light-color);
  background-color: var(--dark-background);
  border: none;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}

.description {
  border-radius: 8px;
  border-style: none;
  height: 15rem;
}

.topicCreation_description {
  display: flex;
  flex-direction: column;
  margin: 0.6rem;
}

.topicCreation_label {
  font-size: var(--textS);
  margin-top: 1rem;
}

.topicCreation_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-creation {
  border-radius: 8px;
  border-style: none;
  width: 70px;
  height: 30px;
  font-weight: 600;
  background-color: var(--golden-color);
  color: var(--dark-background);
  text-transform: uppercase;
}

.button-creation:hover {
  background-color: var(--small-touch);
  color: var(--golden-color);
  transition: all 200ms linear;
}

.mce-content-body p {
  color: white;
}
