.topicCreation_container {
  display: flex;
  flex-direction: column;
  margin: 0 30px 30px 30px;
}

.topicCreation_label {
  font-size: 20px;
  margin: 30px 0 10px;
}

.topic__name {
  border-radius: 8px;
  border-style: none;
  width: 40%;
  height: 2rem;
}

.description {
  padding: 2%;
  border-radius: 8px;
  border-style: none;
  height: 8rem;
}

.deadline {
  padding: 2%;
  width: 20%;
  border-radius: 8px;
  border-style: none;
}

.description-button {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.creation-bottom {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.creation-bottom > div {
  display: flex;
  justify-content: flex-end;
}

.button-creation {
  border-radius: 8px;
  border-style: none;
  width: 60px;
  height: 30px;
  margin-top: 20px;
}
