.topicsContainer {
  padding-bottom: 1px;
}

.dashboard__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: var(--dark-background);
  color: var(--light-color);
  text-shadow: 1px 1px 1px var(--golden-color);
}

.dashboard__placeholder {
  width: 100px;
}

.dashboard__title {
  font-size: 3rem;
  padding: 10px;
}

.divider__header {
  margin: 0 auto;
  width: 80% !important;
}

.topic__list__main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.topic_grid__main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
