.userDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userDetail__card {
  background-color: var(--medium-background);
  border-radius: var(--radius);
  border: 10px solid var(--medium-background);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
  margin: 20px;
  width: 80%;
  padding: 15px;
}

.userDetail__header {
  display: flex;
}

.userDetail__names > h3 {
  color: var(--golden-color);
}

.userDetail__names > p {
  color: var(--light-color);
}

.userDetail__description > p {
  color: var(--light-color);
  width: 100%;
  text-align: justify;
}

.userDetail__contact {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.userDetail__contact > p {
  color: var(--light-color);
  text-decoration: underline;
}

.userDetail__badge {
  height: 85px;
  border-radius: 50%;
  border: solid;
  border-color: var(--golden-color);
  background-color: var(--light-color);
}
