.topicCommentDeatils_main {
  width: 100%;
  padding: 20px;
}

.topicInfo {
  color: var(--golden-color);
  padding: 2%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
  border-radius: var(--radius);
  background-color: var(--medium-background);
}

.topicInfo__deadline {
  display: flex;
  align-items: center;
}

.ideaCreationCard {
  color: var(--golden-color);
  display: flex;
  justify-content: space-around;
  background-color: var(--medium-background);
  border-radius: var(--radius);
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 5%;
  box-shadow: var(--box-shadow);
}

.ideaCreationCard__form {
  width: 100%;
}

.ideaCreationCard__form > input {
  margin: 0 5%;
}

.ideaCreationCard__form > #descriptionInput {
  width: 30%;
}

.ideaCreationCard__interactions {
  width: 10%;
  display: flex;
  justify-content: space-around;
}

#ideaCreationCard__button {
  height: 100%;
  width: 10%;
  border-radius: var(--radius);
  border: 2px solid var(--dark-background);
  background-color: var(--golden-color);
}

.ideaCard {
  color: var(--golden-color);
  display: flex;
  justify-content: space-around;
  background-color: var(--medium-background);
  border-radius: var(--radius);
  margin: 5% 0;
  padding: 5%;
  box-shadow: var(--box-shadow);
}

.ideaCard__main {
  display: flex;
  flex-direction: column;
}

.ideaCard__description {
  display: flex;
  align-items: center;
}

.ideaCard__interactions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ideaCard__nbComment{
  display: flex;
}
