.topicIdeasDetails__main {
  color: var(--light-color);
}

.topicIdeasDetails__title {
  width: 100%;
  color: var(--golden-color);
  font-size: var(--textL);
  text-align: center;
}

.topicIdeaDetails__comments {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.topicIdeaDetails__commentsList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#createComment {
  width: 100%;
  min-height: 50px;
  text-align: center;
  vertical-align: center;
  font-size: var(--textXL);
}
