.ideaCard__page {
  padding-top: 0.5rem;
}

.topicInfo {
  color: var(--golden-color);
  margin: 1.5rem;
  margin-bottom: 3rem;
  padding: 0.5rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  border: 4px solid var(--medium-background);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: var(--radius);
  background-color: var(--medium-background);
  font-size: var(--textM);
}

.topicInfo__title {
  font-size: var(--textM);
}

.topicInfo__left {
  margin-left: 15px;
}

.topicInfo__description {
  color: var(--light-color);
  font-size: var(--textS);
  margin: 0 1px;
}

.topicInfo__deadline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;
  color: var(--light-color);
  font-size: var(--textS);
}

.ideaCreationCard {
  color: var(--golden-color);
  display: flex;
  justify-content: space-around;
  background-color: var(--medium-background);
  border-radius: var(--radius);
  height: 220px;
  margin: 1.5rem;
  padding: 0.5rem;
  box-shadow: var(--box-shadow);
}

.ideaCreationCard__form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  margin: 15px;
}

.textareas {
  flex-wrap: nowrap;
  width: 90%;
  display: flex;
}

.textareas > textarea {
  margin-left: 20px;
  resize: none;
  border: none;
  border-radius: var(--radius);
  height: 30px;
  font-size: var(--textM);
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

#ideaTextarea {
  margin-right: 20px;
}

#descriptionTextarea {
  width: 50%;
}

#ideaCreationCard__button {
  background-color: var(--golden-color);
  color: var(--dark-background);
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

#ideaCreationCard__button:hover {
  background-color: var(--small-touch);
  color: var(--golden-color);
}

.ideaCard {
  color: var(--golden-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--medium-background);
  border-radius: var(--radius);
  height: 110px;
  margin: 1.5rem;
  padding: 0.5rem;
  border: 4px solid var(--medium-background);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.ideaCard__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15px;
}

.ideaCard__main > a {
  color: var(--golden-color);
}

.ideaCard__main > a:hover {
  color: var(--small-touch);
}

.ideaCard__creatorName {
  color: var(--light-color);
  margin-top: 15px;
}

.ideaCard__description {
  color: var(--light-color);
  max-width: 50%;
  margin: 10px 0;
  resize: none;
  border: none;
  width: 500px;
  text-align: center;
  font-size: var(--textS);
}

.ideaCard__interactions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ideaCard__nbUpVote {
  margin: 20px;
}

.ideaCard__nbComment {
  margin: 20px;
}

.ideaCard__nbComment {
  display: flex;
}
