.ideaCard__page {
  padding-top: 1px;
}

.topicInfo {
  color: var(--golden-color);
  margin: 10px 24px 1rem;
  padding: 0.5rem;
  border-radius: var(--radius);
  display: flex;
  border: 4px solid var(--medium-background);
  background-color: var(--medium-background);
  font-size: var(--textM);
}

.topicInfo__title {
  font-size: var(--textM);
}

.topicInfo__creatorName {
  color: var(--light-color);
  font-size: var(--textS);
}

.topicInfo__left {
  margin-left: 15px;
}

.topicInfo__description {
  color: var(--light-color);
  font-size: var(--textS);
  margin: 0 10px;
}

.topicInfo__deadline {
  display: flex;
  align-items: center;
  margin: 15px auto;
  color: var(--light-color);
  font-size: var(--textS);
}

.button-slack {
  background-color: var(--golden-color);
  color: var(--dark-background);
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
  margin: 15px;
}

.ideaCreationCard__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ideaCreationCard__container > .ideaCard__button {
  background-color: var(--golden-color);
  color: var(--dark-background);
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 15px;
}

.ideaCreationCard__container > .ideaCard__button:hover {
  background-color: var(--small-touch);
  color: var(--golden-color);
}

.ideaCreationCard__show {
  visibility: visible;
  transition: all;
  width: 100%;
}

.ideaCreationCard__hide {
  visibility: hidden;
  height: 0;
}

.ideaCreationCard {
  color: var(--golden-color);
  display: flex;
  justify-content: space-around;
  background-color: var(--light-background);
  border-radius: var(--radius);
  height: 220px;
  margin: 1.5rem;
  padding: 0.5rem;
  box-shadow: var(--box-shadow);
}

.ideaCreationCard__form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  margin: 15px;
}

.inputs {
  flex-wrap: nowrap;
  width: 90%;
  display: flex;
}

.inputs > div > textarea {
  resize: none;
  border: none;
  height: 60px;
  border-radius: var(--radius);
  font-size: var(--textM);
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.ideaArea {
  display: flex;
  flex-direction: column;
}

.descriptionArea {
  height: 100%;
  width: 100%;
  margin-left: 80px;
}

.ideaCreation_Card {
  display: flex;
  align-items: center;
}

#ideaCreationCard__button {
  background-color: var(--golden-color);
  color: var(--dark-background);
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

#ideaCreationCard__button:hover {
  background-color: var(--small-touch);
  color: var(--golden-color);
}

.ideaCard {
  color: var(--golden-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-background);
  border-radius: var(--radius);
  height: 110px;
  margin: 1.5rem;
  padding: 0.5rem;
  border: 4px solid var(--light-background);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.ideaCard__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15px;
}

.ideaCard__main > a {
  color: var(--golden-color);
}

.ideaCard__main > a:hover {
  color: var(--small-touch);
}

.ideaCard__creatorName {
  color: var(--light-color);
  margin-top: 15px;
  font-size: var(--textS);
}

.ideaCard__description {
  color: var(--light-color);
  max-width: 50%;
  margin: 10px 0;
  resize: none;
  border: none;
  width: 500px;
  text-align: center;
  font-size: var(--textS);
}

.ideaCard__interactions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ideaCard__nbUpVote {
  margin: 20px;
}

.ideaCard__nbComment {
  margin: 20px;
}

.ideaCard__nbComment {
  display: flex;
}
