.ideaCard__page {
  padding: 1px 0 40px;
}

.topicInfo {
  color: var(--golden-color);
  margin: 10px 24px 1rem;
  padding: 0.5rem;
  border-radius: var(--radius);
  display: flex;
  border: 4px solid var(--medium-background);
  background-color: var(--medium-background);
  font-size: var(--textM);
}

.topicInfo__title {
  font-size: var(--textM);
}

.topicInfo__creatorName {
  color: var(--light-color);
  font-size: small;
}

.topicInfo__left {
  margin-left: 15px;
}

.topicInfo__description {
  color: var(--light-color);
  font-size: var(--textS);
  margin: auto 40px;
}

.topicInfo__deadline {
  display: flex;
  align-items: center;
  margin: 15px auto;
  color: var(--light-color);
  font-size: var(--textS);
}

.button-slack {
  background-color: var(--golden-color);
  color: var(--dark-background);
  padding: 5px 10px;
  border-radius: 20px;
  margin: 15px;
}

.button-slack:hover {
  background: none;
  color: var(--golden-color);
  padding: 4px 9px;
  border: solid 1px var(--golden-color);
}

.ideaCreationCard__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ideaCreationCard__container > .ideaCard__button {
  background-color: var(--golden-color);
  color: var(--dark-background);
  padding: 5px 10px;
  border-radius: 20px;
  margin: 15px;
}

.ideaCreationCard__container > .ideaCard__button:hover {
  background: none;
  color: var(--golden-color);
  padding: 4px 9px;
  border: solid 1px var(--golden-color);
}

.ideaCreationCard__show {
  visibility: visible;
  transition: all;
  width: 100%;
}

.ideaCreationCard__hide {
  visibility: hidden;
  height: 0;
}

.ideaCreationCard {
  color: var(--golden-color);
  display: flex;
  justify-content: space-around;
  background-color: var(--medium-background);
  border-radius: var(--radius);
  height: 220px;
  margin: 1.5rem;
  padding: 0.5rem;
  box-shadow: var(--box-shadow);
}

.ideaCreationCard__form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  margin: 15px;
}

.inputs {
  flex-wrap: nowrap;
  width: 90%;
  display: flex;
}

.inputs > div > textarea {
  resize: none;
  border: none;
  height: 60px;
  border-radius: var(--radius);
  font-size: var(--textM);
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;




  margin: 0.4rem;
  padding: 13px 20px;
  padding-left: 55px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: var(--light-color);
  background-color: var(--dark-background);
  border: none;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}

.ideaArea {
  display: flex;
  flex-direction: column;
}

.descriptionArea {
  height: 100%;
  width: 100%;
  margin-left: 80px;
}

.ideaCreation_Card {
  display: flex;
  align-items: center;
}

.ideaCard {
  color: var(--golden-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-background);
  border-radius: var(--radius);
  min-height: 110px;
  margin: 1.5rem 1.5rem 0;
  padding: 0.5rem;
  border: 4px solid var(--light-background);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
}

.ideaCard__open {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ideaCard__main {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15px;
}

.ideaCard__main > a {
  color: var(--golden-color);
}

.ideaCard__main > a:hover {
  color: var(--small-touch);
}

.ideaCard__creatorName {
  color: var(--light-color);
  margin-top: 15px;
  font-size: small;
}

.ideaCard__description {
  flex: 5;
  color: var(--light-color);
  margin: 10px 0;
  resize: none;
  border: none;
  text-align: center;
  font-size: var(--textS);
}

.ideaCard__interactions {
  flex: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
}

.ideaCard__delete {
  flex: 1;
  text-align: center;
}

.ideaCard__nbUpVote {
  flex: 1;
  display: flex;
}

.ideaCard__vote:hover {
  color: var(--small-touch);
  cursor: pointer;
}

.ideaCard__nbComment {
  flex: 1;
  display: flex;
}

.comments-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 70px;
}

.popup__open {
  padding: 15px;
}

.ideaCreation__iconPencil{
  color: var(--golden-color);
  position: relative;
  top: 20%;
  left: 22.5px;
}

.button-comments {
  background-color: var(--golden-color);
  border-radius: 20px;
  width: 130px;
  padding: 5px 10px;
  margin-right: 15px;
}

.button-comments:hover {
  background: none;
  color: var(--golden-color);
  padding: 4px 9px;
  border: solid 1px var(--golden-color);
}
