.topic__name {
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
  border-style: none;
  margin: 5px;
  width: 30%;
  height: 2rem;
}

.description {
  display: flex;
  border-radius: 8px;
  border-style: none;
  align-items: flex-start;
  margin: 5px;
  width: 90%;
  height: 10rem;
}

.deadline {
  border-radius: 8px;
  border-style: none;
  margin: 5px;
}

.button {
  border-radius: 8px;
  border-style: none;
  width: 80px;
  height: 30px;
  margin: 5px;
}
