.userCard__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: var(--radius);
  height: 110px;
  margin: 1.5rem;
  padding: 0.5rem;
  background-color: var(--light-background);
  border: 4px solid var(--light-background);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.userCard__list:hover {
  box-shadow: 1px 1px 10px var(--light-color),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.userCard__grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--light-background);
  border-radius: var(--radius);
  height: 300px;
  width: 350px;
  margin: 1.5rem;
  border: 4px solid var(--light-background);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.userCard__grid:hover {
  box-shadow: 1px 1px 10px var(--light-color),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.userCard__header {
  display: flex;
  flex-direction: row;
  margin: 15px 30px 0;
}

.userCard__names {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.userCard__name {
  color: var(--golden-color);
  font-size: var(--textL);
  margin-bottom: 15px;
}

.userCard__pseudo {
  color: var(--light-color);
  font-size: var(--textS);
}

.userCard__greetings {
  color: var(--light-color);
  display: flex;
  margin: 15px 30px 0;
}

.userCard__contactGrid {
  display: flex;
  justify-content: flex-end;
  color: var(--golden-color);
  margin: 0 30px 15px;
}

.userCard__contactGrid > a {
  color: var(--light-color);
  text-decoration: underline;
  font-size: var(--textS);
}

.userCard__contactGrid > a:hover {
  color: var(--small-touch);
}

.userCard__contactList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px 30px;
  color: var(--golden-color);
}

.userCard__contactList > a {
  color: var(--golden-color);
}

.userCard__contactList > a:hover {
  color: var(--small-touch);
}

.userCard__picture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
