.userCard__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--radius);
  height: 100px;
  margin: 1.5rem;
  padding: 0.2rem 2rem;
  background-color: var(--light-background);
  border: 4px solid var(--light-background);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.userCard__list:hover {
  box-shadow: 1px 1px 10px var(--light-color),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.userCard__grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--light-background);
  border-radius: var(--radius);
  height: 150px;
  min-width: 250px;
  margin: 1.5rem;
  padding: 20px 25px;
  border: 4px solid var(--light-background);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.userCard__grid:hover {
  box-shadow: 1px 1px 10px var(--light-color),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.userCard__header {
  display: flex;
}

.userCard__names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

.userCard__name {
  color: var(--golden-color);
  font-size: var(--textL);
  margin-bottom: 0px;
}

.userCard__pseudo {
  color: var(--light-color);
  font-size: var(--textS);
  display: inline-block;
}

.userCard__greetings {
  color: var(--light-color);
  display: flex;
  justify-content: center;
}

.userCard__greetings p {
  font-size: var(--textS);
}

.userCard__contactGrid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--golden-color);
}

.userCard__contactGrid > a {
  color: var(--light-color);
  text-decoration: underline;
  font-size: var(--textS);
}

.userCard__contactGrid > a:hover {
  color: var(--small-touch);
}

.userCard__contactList {
  display: flex;
  align-items: center;
  color: var(--golden-color);
}

.userCard__contactList > a {
  color: var(--light-color);
  text-decoration: underline;
  font-size: var(--textS);
  margin-left: 200px;
}

.userCard__contactList > a:hover {
  color: var(--small-touch);
}

.userCard__picture {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.userCard__badgeUpperContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.userCard__badgeUpperContainer p {
  font-size: var(--textXS);
  text-align: center;
  width: 100%;
}
.userCard__badge__Visitor {
  width: 20px;
}

.userCard__badge__Creator {
  width: 20px;
}

.userCard__badge__Likes {
  width: 20px;
}

.userCard__badge__Thinker {
  width: 20px;
}

.userCard__badgeName {
  font-size: var(--textXS);
}
