.topicInfo {
  color: var(--golden-color);
  padding: 2%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.topicInfo__deadline {
  display: flex;
  align-items: center;
}

.ideaCard {
  color: var(--golden-color);
  display: flex;
  justify-content: space-around;
  background-color: var(--medium-background);
  border-radius: var(--radius);
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 5%;
}

.ideaCard__main {
  display: flex;
  flex-direction: column;
}

.ideaCard__description {
  display: flex;
  align-items: center;
}

.ideaCard__interactions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
