.topicCard__grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--golden-color);
  border-radius: var(--radius);
  background-color: var(--medium-background);
  width: 300px;
  min-height: 250px;
  margin: 1.5rem;
  border: 4px solid var(--medium-background);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.topicCard__grid:hover {
  box-shadow: 1px 1px 10px var(--light-color),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.topicCard__title {
  text-align: center;
  margin: 5% 5% 5% 6%;
  color: var(--golden-color);
  font-size: var(--textL);
}

.topicCard__title:hover {
  color: var(--small-touch);
}

.topicCard__creatorName {
  margin: 5% 5% 5% 6%;
  color: var(--light-color);
  font-size: var(--textS);
}

.topicCard__description {
  margin: 5% 5% 5% 6%;
  font-size: var(--textS);
  color: var(--light-color);
}

.topicCard__description:hover {
  display: flex;
  align-items: center;
  text-align: start;
  font-size: var(--textS);
  overflow: visible;
  box-sizing: border-box;
}

.topicCard__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5% 5% 5% 6%;
}

.topicCard__deadline {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--textS);
  color: var(--light-color);
  height: 50px;
}

.notification {
  position: relative;
  color: var(--light-color);
  font-size: var(--textL);
  padding: 0;
  border: 0;
  background-color: transparent;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 0 0;
}

.notification-number {
  position: absolute;
  background-color: var(--small-touch);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: var(--textXS);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-background);
  font-weight: 600;
  padding-top: 1px;
  right: -10px;
  top: 0;
}

.icon-ampule {
  font-size: var(--textL);
}
