.topicCard {
  border-radius: var(--radius);
  background-color: var(--medium-background);
  width: 271px;
  height: 210px;
}

.topicCard__title {
  text-align: start;
  color: var(--golden-color);
  margin: 5%;
}

.topicCard__creatorName {
  text-align: start;
  color: var(--golden-color);
  margin: 5%;
}

.topicCard__description {
  margin: 5%;
  margin-top: 20%;
  text-align: start;
  color: var(--golden-color);
}

.topicCard__deadline {
  display: flex;
  align-items: center;
  color: var(--golden-color);
}

.topicCard__deadline svg {
  margin-right: 10px;
}

.topicCard__nbIdea {
  color: var(--golden-color);
}
