.topicCard {
  margin-left: 10px;
  border-radius: var(--radius);
  background-color: var(--medium-background);
  width: 271px;
  height: 210px;
}

.topicCard__title {
  text-align: start;
  color: var(--golden-color);
  text-align: start;
  margin: 2%;
  margin-left: 5px;
  margin-bottom: 5px;
}

.topicCard__creatorName {
  text-align: start;
  color: var(--golden-color);
  text-align: start;
  margin-left: 5px;
  margin: 2%;
}

.topicCard__description {
  color: var(--golden-color);
  margin: 2%;
  margin-top: 5%;
  margin-left: 5px;
  text-align: start;
  font-size: small;
  overflow: hidden;
  max-width: 15ch;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.topicCard__description:hover {
  color: var(--golden-color);
  margin: 2%;
  margin-top: 5%;
  margin-left: 5px;
  text-align: start;
  font-size: small;
  overflow: visible;
}

.topicCard__deadline {
  display: flex;
  align-items: center;
  color: var(--golden-color);
  font-size: small;
  position: absolute;
  margin-left: 5px;
  margin-top: 50px;
}

.topicCard__deadline svg {
  margin-right: 10px;
}

.topicCard__nbIdea {
  color: var(--golden-color);
  font-size: small;
  position: absolute;
  margin-left: 235px;
  margin-top: 50px;
}
