@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: var(--textM);
  background-color: var(--dark-background);
}
