@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

:root {
  --dark-backgroung: #1f2029;
  --medium-background: #2a2b38;
  --light-color: #ececec;
  --golden-color: #ffeba7;
  --radius: 10px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background-color: var(--dark-backgroung);
  font-size: var(--textM);
}
