.nav-landing {
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* width: 80%; */
}

.stage {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.stage .content {
  text-align: center;
  visibility: hidden;
}

.txt {
  margin: 0;
  font-size: calc(var(--fontSize) * 1vw);
  font-weight: var(--fw);
  font-stretch: calc(var(--fs) * 1%);
  line-height: 0.6;
  letter-spacing: -1vw;
  /* user-select: none; */
  text-shadow: 0 0.05em 0 var(--golden-color),
    0 0.1em 0.1em rgba(75, 87, 90, 0.3), 0 0.4em 0.3em rgba(133, 90, 112, 0.1);
}

h3.span .m {
  font-size: 2vw;
  margin-right: 1rem;
  color: var(--light-color);
  z-index: 1;
}

.loader span {
  text-shadow: 0 0 0 var(--medium-background);
  animation: loading 2s ease-in-out infinite alternate;
}

@keyframes loading {
  to {
    text-shadow: 10px 0 10px var(--golden-color);
    color: var(--golden-color);
  }
}

.loader span:nth-child(2) {
  animation-delay: 1s;
}
.loader span:nth-child(3) {
  animation-delay: 2s;
}
.loader span:nth-child(4) {
  animation-delay: 3s;
}
.loader span:nth-child(5) {
  animation-delay: 4s;
}

a {
  text-decoration: none;
}

.nav-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 0;
  width: 99.37%;
  height: 75px;
  background: var(--dark-background);
  border: 4px solid var(--medium-background);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
  z-index: 600;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-container .logoContainer {
  margin: 0.8rem 0 0.8rem 2rem;
}

.top-first {
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  animation: moveDown 0.5s ease-in-out;
  z-index: 800;
}

.nav-container--top-second {
  position: sticky;
  z-index: 1;
  top: 2000px;
}
.nav-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: var(--golden-color);
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 2vw;
}

.nav-tab:hover {
  color: var(--dark-background);
  background: var(--golden-color);
  transition: all 0.5s ease;
}

.nav-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background: var(--golden-color);
  transition: left 0.3s ease;
}

.blob {
  animation: blob 1s linear forwards;
}
@keyframes blob {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
