.commentCreate__main {
  color: var(--light-color);
  background-color: var(--medium-background);
  border-radius: var(--radius);
}

.commentCreate__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
}

.commentCreate__form > input {
  height: 150px;
  border-radius: var(--radius);
}

.commentCreate__title {
  margin: 10px 0 40px;
}

.button-send {
  border-radius: 20px;
  border-style: none;
  width: 80px;
  height: 30px;
  margin: 20px 0 10px;
  padding: 5px 10px;
  background-color: var(--golden-color);
  color: var(--dark-background);
}

.button-send:hover {
  background: none;
  color: var(--golden-color);
  padding: 4px 9px;
  border: solid 1px var(--golden-color);
}
