.commentCreate__main {
  color: var(--light-color);
  background-color: var(--medium-background);
  padding: 30px 25px;
  margin: 1.5rem auto;
  border-radius: var(--radius);
  border: 10px solid var(--medium-background);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
  width: 40%;
}

.commentCreate__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commentCreate__form > input {
  width: 95%;
  height: 150px;
  border-radius: var(--radius);
}

.commentCreate__title {
  margin: 10px 0 40px;
}

.button-send {
  border-radius: 8px;
  border-style: none;
  width: 80px;
  height: 35px;
  font-weight: 600;
  margin: 20px 0 10px;
  background-color: var(--golden-color);
  color: var(--dark-background);
  text-transform: uppercase;
}

.button-send:hover {
  background-color: var(--small-touch);
  color: var(--golden-color);
  transition: all 200ms linear;
}
