.commentCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.commentCard__info {
  display: flex;
  align-items: center;
}

.commentCard__main {
  display: flex;
  align-items: center;
  margin-left: 15px;
  width: 320px;
}

.commentCard__avatar {
  font-size: var(--textXS);
  border-radius: 100%;
  height: 50px;
  width: 50px;
}

.commentCard__creatorName {
  font-size: var(--textS);
  color: var(--golden-color);
  margin-left: 10px;
}

.commentCard__description {
  margin: 10px 20px;
  font-size: var(--textXS);
}

.commentCard__interactions {
  font-size: var(--textXS);
  display: flex;
  align-items: center;
}

.commentCard__nbUpVote {
  color: var(--golden-color);
  margin: 15px;
}
