.commentCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-background);
  border-radius: var(--radius);
  min-height: 50px;
  margin: 0.5rem 1.5rem;
  padding: 0.5rem;
  border: 4px solid var(--light-background);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.commentCard:hover {
  box-shadow: 1px 1px 8px var(--light-color),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.commentCard__info {
  display: flex;
  align-items: center;
}

.commentCard__main {
  display: flex;
  align-items: center;
  margin-left: 15px;
  width: 320px;
}

.commentCard__avatar {
  font-size: var(--textXS);
  border-radius: 100%;
  height: 60px;
  width: 60px;
}

.commentCard__creatorName {
  font-size: var(--textS);
  color: var(--golden-color);
  margin-left: 10px;
}

.commentCard__description {
  margin: 10px 20px;
  font-size: var(--textXS);
}

.commentCard__interactions {
  font-size: var(--textXS);
  display: flex;
  align-items: center;
}

.commentCard__nbUpVote {
  color: var(--golden-color);
  margin: 15px;
}
