.commentCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--medium-background);
  border-radius: var(--radius);
  height: 110px;
  margin: 1.5rem;
  padding: 0.5rem;
  border: 4px solid var(--medium-background);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.commentCard:hover {
  box-shadow: 1px 1px 10px var(--light-color),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.commentCard__info {
  display: flex;
  align-items: center;
}

.commentCard__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15px;
  width: 150px;
}

.commentCard__main > img {
  font-size: var(--textXS);
}

.commentCard__creatorName {
  font-size: var(--textS);
  color: var(--golden-color);
}

.commentCard__description {
  font-size: var(--textXS);
}

.commentCard__interactions {
  font-size: var(--textXS);
  display: flex;
  align-items: center;
}

.commentCard__nbUpVote {
  color: var(--golden-color);
  margin: 15px;
}
