.nav-bar .logoContainer {
  width: 138px;
  margin: 10px 0 10px 92px;
}

.nav-right {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.nav-right button {
  margin-right: 10px;
}

.add-btn {
  color: var(--light-color);
  background-color: var(--light-background);
  font-size: var(--textL);
  padding: 0;
  border: 0;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification {
  position: relative;
  color: var(--light-color);
  font-size: var(--textL);
  padding: 0;
  border: 0;
  background-color: transparent;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.notification-number {
  position: absolute;
  background-color: #3a6df0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  right: -2px;
  top: 1px;
}

.profile-btn {
  padding: 0;
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding-left: 12px;
  border-left: 2px solid var(--light-color);
}

.profile-btn img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 4px;
}

.profile-btn span {
  color: var(--light-color);
  font-size: var(--textS);
  line-height: 24px;
  font-weight: 700;
}

.setting-btn {
  color: var(--light-color);
  background-color: var(--light-background);
  font-size: var(--textL);
  padding: 0;
  border: 0;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
