.side-bar {
  height: 100%;
}

.user-profile-area {
  background-color: var(--dark-background);
  border-radius: 0 0 var(--radius) var(--radius);
  border: 10px solid var(--dark-background);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(15px);
  max-width: 280px;
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: width 0.3s ease-in-out;
  margin-bottom: 50px;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  overflow: auto;
}

.topic-manager {
  font-size: var(--textL);
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  margin-top: 25%;
}
.user-photo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}
.user-name {
  font-weight: 600;
  margin: 10% 0;
}

.user-profile {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}

.side-wrapper {
  margin: 5% 1rem;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 5% 0 0;
}

.sidebar-list a {
  width: 80%;
}

.sidebar-list button {
  background-color: transparent;
  margin-left: 2rem;
  font-size: var(--textM);
  width: 100%;
  padding: 0.3rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar-listItem {
  color: var(--light-color);
  display: flex;
  align-items: center;
  animation: fadeInItem 0.6s forwards;
  transition: background 0.2s ease-in;
  transform: translateX(-16px);
  opacity: 0;
  padding: 8px 0;
}

.sidebar-listItemText {
  color: var(--light-color);
}

.sidebar-list button .icon {
  font-size: var(--textL);
  color: var(--golden-color);
  margin-right: 1rem;
}

.sidebar-listItem.active button {
  background-color: var(--light-background);
}
.sidebar-listItem:not(.active) button:hover {
  background-color: var(--dark-background);
}

.sidebar-listItem:nth-child(n + 0) {
  animation-delay: 0s;
}
.sidebar-listItem:nth-child(n + 1) {
  animation-delay: 0.2s;
}
.sidebar-listItem:nth-child(n + 2) {
  animation-delay: 0.4s;
}
.sidebar-listItem:nth-child(n + 3) {
  animation-delay: 0.6s;
}
.sidebar-listItem:nth-child(n + 4) {
  animation-delay: 0.8s;
}
@keyframes fadeInItem {
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.signOut-btn {
  background-color: transparent;
  color: var(--light-color);
  font-size: var(--textS);
  padding: 0.6rem;
  text-decoration: none;
  text-align: center;
  margin-top: 8%;
}

.signOut-btn > .signOut-btn {
  margin: 0 0 2rem;
}

.signOut-btn:hover {
  color: var(--golden-color);
}
