.googleBtn {
  background: var(--golden-color);
  border-radius: 20px;
  color: var(--dark-background);
  border: none;
  width: 120px;
  height: 40px;
  cursor: pointer;
  transition: all 200ms linear;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 200ms linear;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.googleBtn:active,
.googleBtn:focus {
  background-color: var(--small-touch);
  color: var(--golden-color);
}

.googleBtn:hover {
  background: none;
  border: solid 1px var(--golden-color);
  color: var(--golden-color);
}

.googleBtn > * {
  width: 120px;
  height: 45px;
  cursor: pointer;
  transition: all 200ms linear;
  color: var(--dark-background);
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  transition: all 200ms linear;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.googleBtn:active,
.googleBtn:focus {
  background-color: var(--small-touch);
  color: var(--golden-color);
}

.googleBtn:hover > * {
  background-color: none;
  color: var(--golden-color);
}

.googleLogo {
  height: 20px;
  width: 20px;
  margin-left: 5px;
  background-color: none;
}
